# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Data files (jangan push data ke GitHub)
storage/bronze/
storage/silver/
storage/gold/

# Airflow
orchestration/airflow/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
